#project {
  margin-top: 1rem;
}

#project-button {
  font: var(--project-button-font);
  border-radius: var(--main-rounding);
  color: var(--project-button-text);
  background-color: var(--project-button-bg);

  > .ph {
    margin-right: -3px;
  }
}

#project-drawer {
  width: 400px;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    > .input {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  #project-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}

#add-project-btn {
  background-color: var(--main-success);
  color: var(--main-bg);
}
#project-drawer:has(#add-project-btn input:checked) #add-project-form {
  display: flex;
}

#add-project-form {
  display: none;
  margin-bottom: 0.5rem;

  input {
    border: none;
    padding: 0.25rem 0.5rem;
    margin-inline-start: -0.5rem;
    font-weight: bold;

    width: 100%;
  }
}
