.project-item {
  width: 100%;
  display: flex;
  border-radius: 4px;

  .project-item__title {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    background: none;
    color: var(--color-text);
  }

  .project-item__used {
    display: block;
    color: var(--color-text-muted);
    font-size: 0.75rem;
  }
}
