#ghost {
  min-width: 100px;
  height: 20px;

  background-color: white;
  border: 1px dashed black;

  border-radius: var(--main-rounding);
}

.dragging {
  opacity: 0.25;
}

.sortable {
  border: 1px solid yellow;
  padding: 1rem;
  margin: -1rem;
}
