main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  flex-wrap: wrap;

  > fieldset {
    max-width: 500px;

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      > label {
        display: grid;
        grid-template-columns: 25ch 30ch 50px;
        place-items: top;
      }
    }
  }
}
