@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/colors.min.css";
@import "https://unpkg.com/open-props/fonts.min.css";
@import "https://unpkg.com/open-props/shadows.min.css";
@import "https://unpkg.com/open-props/borders.min.css";

a {
  text-decoration: none;
  color: white;
}

body {
  --surface-1: var(--red-0);
  --surface-2: white;
  --theme: var(--red-3);
  --text-1: var(--gray-9);
  --text-2: var(--gray-7);

  --group-gray: var(--gray-5);
  --group-stone: var(--stone-5);
  --group-red: var(--red-5);
  --group-pink: var(--pink-5);
  --group-purple: var(--purple-5);
  --group-violet: var(--violet-5);
  --group-indigo: var(--indigo-5);
  --group-blue: var(--blue-5);
  --group-cyan: var(--cyan-5);
  --group-teal: var(--teal-5);
  --group-green: var(--green-5);
  --group-lime: var(--lime-5);
  --group-yellow: var(--yellow-6);
  --group-orange: var(--orange-5);
  --group-choco: var(--choco-5);
  --group-brown: var(--brown-5);
  --group-sand: var(--sand-5);
  --group-camo: var(--camo-5);
  --group-jungle: var(--jungle-5);

  display: flex;

  font-family: var(--font-sans);
  background-color: var(--surface-1);
  color: var(--text-2);

  @media (prefers-color-scheme: dark) {
    --text-1: var(--gray-1);
    --text-2: var(--gray-2);

    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);

    --theme: var(--red-3);
    --group-gray: var(--gray-4);
    --group-stone: var(--stone-4);
    --group-red: var(--red-4);
    --group-pink: var(--pink-4);
    --group-purple: var(--purple-4);
    --group-violet: var(--violet-4);
    --group-indigo: var(--indigo-4);
    --group-blue: var(--blue-4);
    --group-cyan: var(--cyan-4);
    --group-teal: var(--teal-4);
    --group-green: var(--green-4);
    --group-lime: var(--lime-4);
    --group-yellow: var(--yellow-4);
    --group-orange: var(--orange-4);
    --group-choco: var(--choco-4);
    --group-brown: var(--brown-4);
    --group-sand: var(--sand-4);
    --group-camo: var(--camo-4);
    --group-jungle: var(--jungle-4);
  }
}

aside {
  position: absolute;
  padding: var(--size-3) var(--size-2);
}

main {
  flex-grow: 1;
  padding: var(--size-6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: block;
  padding-inline: var(--size-1);
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--gray-1);
  cursor: text;
}

.app-header {
  position: absolute;
  padding: var(--size-3) var(--size-2);

  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.app-header__logo {
  margin-bottom: var(--size-1);
  width: var(--size-4);
  height: var(--size-4);

  color: var(--text-1);
}

.app-header__group {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.app-header__item {
  position: relative;
  padding: 0;
  color: var(--stone-7);

  > svg {
    width: var(--size-4);
    height: var(--size-4);

    margin: 0;
  }

  > span {
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;
    height: 100%;
    vertical-align: middle;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }

  &:hover {
    color: inherit;

    > span {
      opacity: 1;
    }
  }
}

.clock_time {
  font-size: 4rem;
  font-weight: bold;

  line-height: 1.2;
  text-align: center;
}

.clock_date {
  font-weight: 600;
  text-align: center;
}

.project > button {
  font-weight: bold;
  background-color: var(--theme);
}

.project__item-used {
  display: block;
  font-size: var(--font-size-00);
  color: var(--text-2);
}

.links {
  width: 100%;
  padding-block: var(--size-6);

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  place-content: center;
  gap: var(--size-6);
}

.linkgroup[data-color="gray"] { color: var(--group-gray); }
.linkgroup[data-color="stone"] { color: var(--group-stone); }
.linkgroup[data-color="red"] { color: var(--group-red); }
.linkgroup[data-color="pink"] { color: var(--group-pink); }
.linkgroup[data-color="purple"] { color: var(--group-purple); }
.linkgroup[data-color="violet"] { color: var(--group-violet); }
.linkgroup[data-color="indigo"] { color: var(--group-indigo); }
.linkgroup[data-color="blue"] { color: var(--group-blue); }
.linkgroup[data-color="cyan"] { color: var(--group-cyan); }
.linkgroup[data-color="teal"] { color: var(--group-teal); }
.linkgroup[data-color="green"] { color: var(--group-green); }
.linkgroup[data-color="lime"] { color: var(--group-lime); }
.linkgroup[data-color="yellow"] { color: var(--group-yellow); }
.linkgroup[data-color="orange"] { color: var(--group-orange); }
.linkgroup[data-color="choco"] { color: var(--group-choco); }
.linkgroup[data-color="brown"] { color: var(--group-brown); }
.linkgroup[data-color="sand"] { color: var(--group-sand); }
.linkgroup[data-color="camo"] { color: var(--group-camo); }
.linkgroup[data-color="jungle"] { color: var(--group-jungle); }

.linkgroup {
  width: 250px;
}

.linkgroup > header {
  position: relative;
  margin-bottom: var(--size-3);
  display: flex;

  &::after {
    content: "";

    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    width: var(--size-10);

    background-color: currentColor;
  }
}

.linkgroup > header > h2 {
  padding-bottom: var(--size-1);

  font-size: var(--size-6);
  font-weight: 600;
}

.linkgroup > ol {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  padding-left: var(--size-3);
}

/* Utilities */

.mt-4 {
  margin-top: 1.25rem;
}
