.task-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  border-radius: var(--main-rounding);

  font: var(--task-item-font);
  color: var(--task-item-text);
  background: var(--task-item-bg);

  cursor: move;

  &:has(input:checked) .task-item__title,
  &:has(.checkbox:hover) .task-item__title {
    text-decoration: line-through;
  }

  .task-item__input {
    width: 100%;
    field-sizing: content;

    border: none;
  }
}
