#timer {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;

  background-color: var(--sidebar-bg);
  border-radius: var(--main-rounding);

  header {
    h2 {
      margin: 0;
    }

    margin-bottom: 1rem;
  }

  .content {
    display: flex;
    justify-content: space-between;

    #session-time {
      display: block;
      font: var(--timer-session-font);
      color: var(--timer-session-text);
    }

    #total-time {
      display: block;
      font: var(--timer-total-font);
      color: var(--timer-total-text);
    }
  }

  .controls {
    #timer-start {
      background-color: var(--main-success);
    }

    #timer-end {
      background-color: var(--main-error);
    }
  }
}
