#timer {
  width: 100%;

  .content {
    display: flex;
    justify-content: space-between;

    #session-time {
      display: block;
      font: var(--timer-session-font);
      color: var(--timer-session-text);
    }

    #total-time {
      display: block;
      font: var(--timer-total-font);
      color: var(--timer-total-text);
    }
  }

  .controls {
    button {
      border-radius: var(--main-rounding);
    }

    #timer-start {
      background-color: var(--main-success);
    }

    #timer-end {
      background-color: var(--main-error);
    }
  }
}
