@tailwind base;
@tailwind components;

body {
	@apply w-screen h-screen p-16 overflow-hidden flex gap-16 text-base bg-gray-50 dark:bg-gray-900 dark:text-white;
}

input, select {
  background: transparent;
}

/* PopperJS */

.tooltip {
	@apply p-1 bg-white dark:bg-gray-700 rounded;
} 

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}


@tailwind utilities;
