@font-face {
	font-family: 'Inter';
	src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 150%;
}

:root {
	--bg-color: #ffffff;
	--bg-secondary-color: #f3f3f6;
	--color-primary: #0099FF;
	--color-lightGrey: #d2d6dd;
	--color-grey: #747681;
	--color-darkGrey: #3f4144;
	--color-error: #d43939;
	--color-success: #28bd14;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.6rem;
	--font-color: #333333;
	--font-family-sans: "Inter", sans-serif;
	--font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

body.dark {
	--bg-color: #000;
	--bg-secondary-color: #131316;
	--font-color: #f5f5f5;
	--color-grey: #ccc;
	--color-darkGrey: #777;
}

article.newtab {
	height: 100vh;
	width: 100vw;

	display: flex;
	/* background-image: url(./newtab/background.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
}

body.popup {
	width: 300px;
	padding: var(--space-4);
	border: solid 1px #CCCC;
	border-radius: 4px;
}