/* General */
* {
	margin: 0;
	padding: 0;
}

:root {
	--color-base: #121212;
	--color-primary: ;
	--color-alert:#cf6679;
	--color-warning: #f4d374;
	--color-emphasis: #dfdfdf;
	--color-normal: #9d9d9d;
	--color-hint: #9d9d9d;

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 1.75rem;
	--space-8: 2rem;
	--space-12: 3rem;
	--space-16: 4rem;
	--space-24: 6rem;
	--space-32: 8rem;
	--space-64: 16rem;
}

body {
	height: 100vh;
	width: 100vw;
	padding: var(--space-8) var(--space-16);
	overflow: hidden;

	display: flex;
	gap: var(--space-16);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  font-size: 16px;
	line-height: 24px;

	background-color: var(--color-base);
	color: var(--color-normal);
}

[hidden] {
	display: none !important;
}

/* forms */
form {
	padding: var(--space-1);
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
}
fieldset {
	display: flex;
	gap: var(--space-2);
	border: none;
}
label {
  position: relative;
}
option {
  background: #212121;
}
select,
input {
	width: 100%;
  padding: var(--space-4) var(--space-1) var(--space-1);

  background: transparent;
  color: var(--color-emphasis);

  border: none;
  border-bottom: solid 1px var(--color-hint);
}
select {
	appearance: none;
	text-indent: 0;
}
input[type="date"] {
	padding-top: 0px;
}
select:not(valid) ~ span,
input:placeholder-shown + span {
  color: var(--color-hint);
  font-size: 1rem;
  top: var(--space-4);
}
input + span,
input:focus + span,
select + span,
select:valid + span {
  color: var(--color-hint);
  font-size: 0.75rem;
  pointer-events: none;
  position: absolute;
  left: 4px;
  top: -4px;
  transition: top 0.4s, left 0.4s, font-size 0.4s;
}
input::placeholder {
  color: transparent;
  display: none;
}
select:focus,
input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px var(--color-normal);
  outline: none;
}
.form-actions {
	margin-top: var(--space-4);
	display: flex;
	justify-content: flex-end;
}

/* Typography */
h1 {
  font-size: 6rem;
	font-weight: 300;
	letter-spacing: -1.5px;
	line-height: 3.5rem;
}
h2 {
  font-size: 3.75rem;
	font-weight: 300;
	letter-spacing: -0.5px;
	line-height: 2.75rem;
}
h3 {
  font-size: 2.875rem;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 2rem;
}
h4 {
  font-size: 2.125rem;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 2rem;
}
h5 {
  font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 2rem;
}
h6 {
  font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.15px;
	line-height: 2rem;
}
.subtitle1 {
  font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.15px;
}
.subtitle2 {
  font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.1px;
}
.overline {
  font-size: 0.625rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.caption {
  font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.4px;
}
button,input[type='submit'],input[type='button'] {
  font-size: 0.875rem;
	font-weight: 500;
}

/* Coloring */
.alert {
	color: var(--color-alert);
}
.warning {
	color: var(--color-warning);
}
.emphasis {
	color: var(--color-emphasis);
}
.normal {
	color: var(--color-normal);
}
.hint {
	color: var(--color-hint);
}

/* Elevation */
.elevation-24 {
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
	background-color: #3b3b3b;
}
.elevation-16 {
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
	background-color: #373737;
}
.elevation-12 {
	box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
	background-color: #353535;
}
.elevation-8 {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
	background-color: #313131;
}
.elevation-6 {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
	background-color: #303030;
}
.elevation-4 {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
	background-color: #2b2b2b;
}
.elevation-3 {
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
	background-color: #292929;
}
.elevation-2 {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
	background-color: #262626;
}
.elevation-1 {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
	background-color: #232323;
}
.elevation-0 {
	box-shadow: none;
	background-color: #191919;
}

/* Icons */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
button > .material-icons,
input[type='submit'] > .material-icons,
input[type='button'] > .material-icons {
	margin-left: -4px;
	margin-right: 8px;
}

/* Misc */
.surface {
	border-radius: 4px;
	padding: var(--space-2);
}

button,input[type='submit'],input[type='button'] {
	width: max-content;
	padding: var(--space-2) var(--space-4);

	display: inline-flex;
	align-items: center;

	background-color: transparent;
	color: inherit;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

li {
	list-style: none;	
}

.no-gutters {
	padding: 0;
	margin: 0;
}

.divider-y {
	width: 1px;
	padding: 0;
	align-self: stretch;
	border-radius: 0;
  background-color: var(--color-hint)
}

.item-actions {
	position: absolute;
	left: 100%;
	height: 100%;
	padding-left: var(--space-1);
	display: flex;
	gap: 2px;

	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity .25s ease-in-out;
}

/* PopperJS */
.tooltip {
	background: #191919;
	z-index: 10;
}

.tooltip > .caption {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: var(--space-2);
}

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #191919;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}