.group-title {
  font-size: 1.5rem;
}

.group-item {
  width: 300px;
}

.group-links {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.group-title {
  font-size: 1.5rem;
}

.group-item {
  width: 300px;
}

.group-links {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
