.link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
  }

  dialog {
    padding: 1rem;

    > form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
