.group-title {
  width: min-content;
  font-size: 1.5rem;
  border-bottom: 3px solid var(--color-text);
  padding: 0.5rem 0;
}

.group-item {
  width: 300px;
}

.group-links {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-item {
  width: 300px;
}

.group-links {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
