.link-item {
  margin-left: -0.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .link-item__handle {
    opacity: 1;
  }
  .link-item__handle {
    margin-right: 0.5rem;
    cursor: move;
    opacity: 0;
  }

  a {
    font: var(--link-item-font);
    color: var(--link-item-text);
    text-decoration: var(--link-item-decoration);
  }

  dialog {
    padding: 1rem;

    > form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
