@import "/node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Phosphor";
  src: url("/src/assets/fonts/Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
