#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  > .clock__time {
    margin: 0;
    font: var(--clock-time-font);
    color: var(--clock-time-color);
  }

  > .clock__date {
    margin: 0;
    font: var(--clock-date-font);
    color: var(--clock-date-color);
  }
}
