@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\wght.ttf) format("truetype");
  font-weight: 100 1000;
  font-stretch: 25% 150%;
}

/* Material icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIconsOutlined-Regular.otf) format("opentype");
}

body {
  overflow: hidden;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  user-select: none;
}

.flatpickr-current-month {
  display: flex !important;
  align-items: flex-end;
}

.flatpickr-current-month input.cur-year {
  padding: 0 !important;
  border: none !important;
}
