body {
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  background: var(--button-bg);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  color: var(--button-text);

  & * {
    pointer-events: none;
  }
}

button.clear {
  background: none;
  color: var(--text-color);
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
}

[popover]::backdrop {
  filter: blur(5px);
}

.hidden {
  display: none !important;
}

.card {
  background: var(--color-secondary);
  color: var(--text-color);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.expand-search {
  display: flex;
  align-items: center;
  width: min-content;
  padding: 0.25rem 0.5rem;

  outline: 1px solid lightgray;
  outline-offset: -1px;
  border-radius: 4px;

  justify-content: flex-end;

  input {
    width: 0px;
    border: none;
    outline: none;
    padding: 0;
  }

  input:focus,
  input:not(:placeholder-shown) {
    width: 8rem;
  }

  &:has(input:not(:placeholder-shown)) {
    background-color: #fff;
    color: var(--text-color);
  }

  &:has(input:focus) {
    outline: 1px solid gray;
    background-color: #fff;
    color: var(--text-color);
  }
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-background);

  input {
    display: none;
  }

  .close {
    display: none;
  }

  &:has(input:checked) .open {
    display: none;
  }

  &:has(input:checked) .close {
    display: block;
  }
}

.checkbox {
  position: relative;
  font-size: 1.25rem;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  & .checked {
    display: none;
  }

  & .unchecked {
    display: block;
  }

  &:has(input:checked),
  &:hover {
    & .unchecked {
      display: none;
    }

    & .checked {
      display: block;
    }
  }
}

li:hover > .options,
li:hover > .group-item__header > .options {
  display: flex;
}

.options {
  margin-left: auto;
  display: none;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;

  font-size: 0.75rem;

  .edit:hover {
    color: var(--info-color);
  }

  .delete:hover {
    color: var(--error-color);
  }
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.75rem;
}
