<script type="module" src="/src/entries/newtab/components/wp/links/wp-group-item.ts"></script>

<template id="group-template">
    <style>
        .group-item__header {
            display: flex;
            gap: 2rem;
        }
    </style>
    <div class="group-item">
        <div class="group-item__header">
            <h3 id="group-title"></h3>
            <div class="options">
                <ut-dialog>
                    <button slot="button" class="edit"><ut-icon data-icon="ph-pen"></ut-icon></button>
                    <form method="dialog" id="edit-group-form">
                        <label>
                            <span>Title</span>
                            <input id="edit-group-title" name="title" type="text" />
                        </label>
                        <button type="submit">Save</button>
                    </form>
                </ut-dialog>
                <button class="delete"><ut-icon data-icon="ph-x"></ut-icon></button>
            </div>
        </div>
        <div class="group-links">
        </div>
    </div>
</template>